<nav class="navbar navbar-expand-lg navbar-dark elegant-color-dark">
    <div class="container">
        <a class="navbar-brand" href="/#!/adminindex">BhouseFinder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/#!/adminindex">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/#!/addhouse">Add House</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#!/addhouse">Update Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-click="signout()">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-5">Add House</h2>
        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact
            us directly. Our team will come back to you within
            matter of hours to help you.</p>
        <div class="row">
            <div class="col-md-12 mb-md-0 mb-5">
                <form id="contact-form" id="myform" ng-submit="onSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <select class="custom-select" ng-model="selectedloc">
                                    <option selected>Located in...</option>
                                    <option ng-repeat="loc in locatedin" value="{{loc}}">{{loc}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Rent Price" placeholder="Ren Price"
                                    ng-model="rentprice">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Facilities" ng-model="facilities">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Addtional Payment" ng-model="addpayment">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <textarea type="text" placeholder="Additional Description" rows="2" class="form-control"
                            ng-model="addInfo"></textarea>
                    </div>
                    <div class="col-md-12 mt-3">
                        <textarea type="text" placeholder="Location Address" rows="2" class="form-control mb-3"
                            ng-model="address"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="img" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="img">Choose file</label>
                        </div>
                    </div>
                    <div class="text-center text-md-left">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>