<!-- Start Header -->
<div class="header-wrapper stick">

  <div class="container"><!-- Start Header Container -->

    
<header id="header" class="clearfix">

  <div id="header-top" class="clearfix">
         <div id="contact-email"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
<path class="path" d="M8.174 15.926l-6.799 5.438c-0.431 0.346-0.501 0.975-0.156 1.406s0.974 0.5 1.4 0.156l7.211-5.769L8.174 15.926z"></path>
<path class="path" d="M15.838 15.936l-1.685 1.214l7.222 5.777c0.433 0.3 1.1 0.3 1.406-0.156c0.345-0.432 0.274-1.061-0.157-1.406 L15.838 15.936z"></path>
<polygon class="path" points="1,10.2 1.6,10.9 12,2.6 22,10.6 22,22 2,22 2,10.2 1,10.2 1.6,10.9 1,10.2 0,10.2 0,24 24,24 24,9.7 12,0 0,9.7 0,10.2 1,10.2 1,10.2"></polygon>
<polygon class="path" points="23.6,11.7 12.6,19.7 11.4,19.7 0.4,11.7 0.4,11.7 0.4,11.7 1.6,10.1 12,17.6 22.4,10.1"></polygon>
</svg>
    

Email us at :
        
      </div>
      
      
    
    
    <!-- User Navigation -->
      <div class="user-nav clearfix">
    <a class="last" href="#login-modal" data-toggle="modal"><i class="fa fa-sign-in"></i>Login / Register</a> </div>
  
  </div>

  <!-- Logo -->
  <div id="logo">

          <h2 class="logo-heading">
        <a href="" title="BHouse Finder">
          BHouse Finder       </a>
      </h2>
      <div class="tag-line"><span>Let Us Help You in Your Business</span></div> </div>


  <div class="menu-and-contact-wrap">
    
   
   <!--Navigation-->
<nav class="navbar navbar-default">
  
    

    <!-- Header with the burger button -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- menu -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li >
          <a href="#!/todos">Home</a>
        </li>
        <li class="active">
          <a href="#">Place Ad</a>
        </li>
        <li>
          <a href="#!/bulletin

          ">About</a>
        </li>
        
      </ul>
     
    
    </div>

  
</nav>
 <!--ENDNavigation-->
  </div>

</header>

  </div> <!-- End Header Container -->
  </div><!-- End Header -->


<div class="main-wrapper contents">

  


<div class="container">
 
<div class="arrBox col-md-12"> 
<div class="row">  

  <div class="box2 col-md-6">
      <h1>Advertise your property</h1>
 </div><!-- Endbox2 -->

</div><!-- Endrow -->


</div>
<div class="generic_form">
<form method="post" action enctype="multipart/form-data" id="ACCOMMODATION_FORM_1_ID">
 <table cellspacing="0">
  <tbody>
   <tr class="row1 separator">
    <td colspan="2" class="separator">Room</td>
  </tr>

  <tr class="row2">
        <td class="caption">Located in:&nbsp;<span style="color: red;">*</span></td>
        <td class="f_element"><select name="accommodation[id_accommodation_type]" id="accommodation_id_accommodation_type_ID" class="FormSelect" size="5"><option value="1">Apartment</option><option value="2">Boarding House</option><option value="3">Condominium</option><option value="4">Dormitory</option><option value="5">House</option></select><span id="accommodation_id_accommodation_type_loader_ID"></span><span class="note">Please select the type of your unit.</span></td>
  </tr>
  </tbody>
 </table>
</form>
</div>

  

     
  </div><!-- /.Endbox -->

</div>


</div>
<!-- /.main-wrapper -->


<!-- Start Footer -->
<footer id="footer-wrapper">

  <div id="footer" class="container">

    
            
              
                
              </div>

  </div>

  <!-- Footer Bottom -->
  <div id="footer-bottom" class="container">
    <div class="row">
      <div class="span6">
        <p class="copyright">© 2018. All rights reserved.</p>     </div>
      
    </div>
  </div>
  <!-- End Footer Bottom -->

</footer><!-- End Footer -->

<!-- Login Modal -->
<div id="login-modal" class="forms-modal modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <p>&nbsp;</p>
  </div>

  <!-- start of modal body -->
  <div class="modal-body">

    <!-- login section -->
    <div class="login-section modal-section">
      <h4>Login</h4>
      <form id="login-form" class="login-form" action="http://www.cebuhousefinder.com/wp-admin/admin-ajax.php" method="post" enctype="multipart/form-data">
        <div class="form-option">
          <input id="username" name="log" type="text" class="focus-class required" placeholder="Username or Email Address" title="* Provide user name!" autofocus="autofocus" required/>
        </div>
        <div class="form-option">
          <input id="password" name="pwd" type="password" class="required" placeholder="Password" title="* Provide password!" required/>
        </div>
                <input type="hidden" name="action" value="inspiry_ajax_login"/>
        <input type="hidden" id="inspiry-secure-login" name="inspiry-secure-login" value="a1665fc9d0" /><input type="hidden" name="_wp_http_referer" value="/" /><input type="hidden" name="redirect_to" value="http://www.cebuhousefinder.com/" />       <input type="hidden" name="user-cookie" value="1"/>
        <input type="submit" id="login-button" name="submit" value="Log in" class="real-btn login-btn"/>
        <img id="login-loader" class="modal-loader" src="http://www.cebuhousefinder.com/wp-content/themes/realhomes/assets/classic/images/ajax-loader.gif" alt="Working...">
        <div>
          <div id="login-message" class="modal-message"></div>
          <div id="login-error" class="modal-error"></div>
        </div>
      </form>

      <div class="inspiry-social-login">
              </div>

      <p>
                <a class="activate-section" data-section="forgot-section" href="#">Forgot Password</a>
      </p>
    </div>

    <!-- forgot section -->
    <div class="forgot-section modal-section">
      <h4>Reset Password</h4>
      <form action="http://www.cebuhousefinder.com/wp-admin/admin-ajax.php" id="forgot-form" method="post" enctype="multipart/form-data">
        <div class="form-option">
          <label for="reset_username_or_email">Username or Email<span>*</span></label>
          <input id="reset_username_or_email" name="reset_username_or_email" type="text" class="required" title="* Provide username or email!" required/>
        </div>
                <input type="hidden" name="action" value="inspiry_ajax_forgot"/>
        <input type="hidden" name="user-cookie" value="1"/>
        <input type="submit" id="forgot-button" name="user-submit" value="Reset Password" class="real-btn register-btn"/>
        <img id="forgot-loader" class="modal-loader" src="http://www.cebuhousefinder.com/wp-content/themes/realhomes/assets/classic/images/ajax-loader.gif" alt="Working...">
        <input type="hidden" id="inspiry-secure-reset" name="inspiry-secure-reset" value="51cf31d924" /><input type="hidden" name="_wp_http_referer" value="/" />       <div>
          <div id="forgot-message" class="modal-message"></div>
          <div id="forgot-error" class="modal-error"></div>
        </div>
      </form>
      <p>
        <a class="activate-section" data-section="login-section" href="#">Login Here</a>
              </p>
    </div>

    
  </div>
  <!-- end of modal-body -->


