<div class="container">
    <form class="text-center border border-light p-5" ng-submit="signin()">
        <p class="h4 mb-4">Sign In</p>
        <input type="email" ng-model="email" class="form-control mb-4" placeholder="Name">
        <input type="password" ng-model="password" class="form-control mb-4" placeholder="Password">
        <button class="btn btn-warning btn-block mb-2" type=" submit">Sign in</button>
        <a class="btn btn-dark btn-block" href="#!/signup">Don't have account? Signup Now!</a>
    </form>
</div>